@scope (phg-currency-slider) {
  :where(:scope) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
  }

  input[type="number"] {
    width: 80px;
    padding: var(--space-sm);
    font-family: inherit;
    font-size: var(--font-sm);
    text-align: center;
    border: 2px solid var(--color-bg-dark);
    background: var(--color-bg-disabled);
    color: var(--color-fg-white);
    appearance: textfield;
    align-self: stretch;
    box-sizing: border-box;
    box-shadow:
      inset 2px 2px 0 rgb(0 0 0 / 30%),
      inset -2px -2px 0 rgb(255 255 255 / 10%);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="range"] {
    flex: 1;
    height: var(--space-md);
    appearance: none;
    background: var(--color-bg-disabled);
    border: 2px solid var(--color-bg-dark);
    min-width: 80px;
    box-shadow:
      inset 2px 2px 0 rgb(0 0 0 / 30%),
      inset -2px -2px 0 rgb(255 255 255 / 10%);
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--color-primary);
    border: 2px solid var(--color-bg-dark);
    cursor: pointer;
    box-shadow:
      inset -2px -2px 0 rgb(0 0 0 / 20%),
      inset 2px 2px 0 rgb(255 255 255 / 20%);
  }
}
