phg-seat {
  position: absolute;
  z-index: 1;
}

@media (width >= 800px) {
  phg-seat[data-seat="0"] {
    top: 14%;
    left: 11%;
  }

  phg-seat[data-seat="1"] {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
  }

  phg-seat[data-seat="2"] {
    top: 14%;
    right: 11%;
  }

  phg-seat[data-seat="3"] {
    top: 45%;
    right: 0;
  }

  phg-seat[data-seat="4"] {
    right: 1%;
    bottom: 15%;
  }

  phg-seat[data-seat="5"] {
    right: 26%;
    bottom: 3%;
  }

  phg-seat[data-seat="6"] {
    bottom: 3%;
    left: 26%;
  }

  phg-seat[data-seat="7"] {
    bottom: 15%;
    left: 1%;
  }

  phg-seat[data-seat="8"] {
    top: 45%;
    left: 0;
  }

  #seats[data-table-size="2"] phg-seat[data-seat="0"] {
    top: auto;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="2"] phg-seat[data-seat="1"] {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="0"] {
    top: 25%;
    left: 8%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="1"] {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="2"] {
    top: 25%;
    right: 8%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="3"] {
    top: auto;
    right: 8%;
    bottom: 16%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="4"] {
    top: auto;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="5"] {
    top: auto;
    bottom: 16%;
    left: 8%;
  }
}

@media (width < 800px) {
  phg-seat[data-seat="0"] {
    top: 22%;
    left: 0;
  }

  phg-seat[data-seat="1"] {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  phg-seat[data-seat="2"] {
    top: 22%;
    right: 0;
  }

  phg-seat[data-seat="3"] {
    top: 38%;
    right: 0;
  }

  phg-seat[data-seat="4"] {
    right: 0;
    bottom: 28%;
  }

  phg-seat[data-seat="5"] {
    right: 8%;
    bottom: 5%;
  }

  phg-seat[data-seat="6"] {
    bottom: 5%;
    left: 8%;
  }

  phg-seat[data-seat="7"] {
    bottom: 28%;
    left: 0;
  }

  phg-seat[data-seat="8"] {
    top: 38%;
    left: 0;
  }

  #seats[data-table-size="2"] phg-seat[data-seat="0"] {
    top: auto;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="2"] phg-seat[data-seat="1"] {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="0"] {
    top: 30%;
    left: 2%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="1"] {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="2"] {
    top: 30%;
    right: 2%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="3"] {
    top: auto;
    right: 2%;
    bottom: 24%;
  }

  #seats[data-table-size="6"] phg-seat[data-seat="4"] {
    top: auto;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
  }

  #seats[data-table-size="6"] phg-seat[data-seat="5"] {
    top: auto;
    bottom: 24%;
    left: 2%;
  }
}
