@scope (phg-tournament-levels-panel) {
  th,
  td {
    white-space: nowrap;
  }

  :where(:scope) {
    --modal-table-min-width: 340px;
    --modal-table-mobile-min-width: 300px;
  }

  tr.past td {
    color: var(--color-fg-muted);
  }

  tr.current td {
    color: var(--color-primary);
  }

  tr.next td {
    color: var(--color-fg-medium);
  }
}
